%h2
  Seleccionar partido y cargo

/ = simple_form_for :map_load, :url => '#',  :html => { :class => 'form-inline' } do |f|
/   = f.input :partido, collection:PoliticalParty.all.order(:name).collect {|p| [ p.name.humanize, p.id ] } , input_html: {id:'partido_political_party_id'}
/   = f.input :cargo, collection:PublicOffice.all.order(:name).collect {|p| [ p.name.humanize, p.id ] }, input_html:{id:'cargo_public_office_id'}
/   = button_tag 'Mostrar', {id:'update_map', class:'btn btn-primary', type:'button'}
%form.form-inline
  = label_tag :partido
  = select 'partido', 'political_party_id',  PoliticalParty.all.order(:name).collect {|p| [ p.name.humanize, p.id ] }, {include_blank: ''}
  = label_tag :cargo
  = select 'cargo', 'public_office_id',  PublicOffice.all.order(:name).collect {|p| [ p.name.humanize, p.id ] }, {include_blank: ''}

  = button_tag 'Mostrar', {id:'update_map', class:'btn btn-primary', type:'button'}
#map3d

